<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JenkinsTest.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>83FE9292E85E832A08511D2B8221C85858E71CB4</string>
				<key>dateExpires</key>
				<string>2020/6/11</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>D68Z7HL3T6.com.iFREEGROUP.JenkinsTest</string>
				<key>com.apple.developer.team-identifier</key>
				<string>D68Z7HL3T6</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>D68Z7HL3T6.com.iFREEGROUP.JenkinsTest</string>
				</array>
			</dict>
			<key>name</key>
			<string>JenkinsTest.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>732681b9-7e8b-400c-a398-2c762aa1cac0</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>D68Z7HL3T6</string>
				<key>name</key>
				<string>iFREE Group (HK) Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
